streamlit
validators==0.28.1

langchain
langchain-core
langchain-community
langchain-classic
langchain-groq

unstructured
youtube-transcript-api
pytube

python-dotenv

pypdf
pymupdf
beautifulsoup4

chromadb
faiss-cpu
sentence-transformers
langchain-huggingface
langchain-chroma

pandas
duckdb
mysql-connector-python
SQLAlchemy

wikipedia
arxiv
duckduckgo_search==5.3.1b1

openai
langchain-openai
langchain-google-genai
huggingface_hub
numexpr
ipykernel